@import "_reset";
@import "_colors";
@import "_font";


/* ----------------------------------------------
  Styles généraux pour mobile (mobile-first)
---------------------------------------------- */
#back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 50px;
    height: 50px;
    background-color: $primary; // Change selon ta couleur principale
    color: $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 30;

    &:hover {
        background-color: darken($primary, 10%);
        cursor: pointer;
    }

    i {
        font-size: 20px;
    }

    &.visible {
        opacity: 1;
        visibility: visible;
    }
}


h2 {
    font-size: 25px;
    color: $primary;
    text-align: center;
    font-family: $roboto;
    margin-bottom: 1rem;
    text-transform: uppercase;

    &::before {
        position: relative;
        z-index: 1;
        content: "";
        display: inline-block;
        width: 46px;
        height: 5px;
        background: $primary;
        bottom: 4px;
        left: -7px;
    }

    &::after {
        position: relative;
        z-index: 1;
        content: "";
        display: inline-block;
        width: 46px;
        height: 5px;
        background: $primary;
        bottom: 4px;
        left: 7px;
    }
}

.cta {
    z-index: 3;
    position: relative;
    display: flex; // Utilise Flexbox pour gérer l'alignement
    justify-content: center; // Centre horizontalement
    align-items: center; // Centre verticalement si nécessaire
    margin-top: 2rem; // Ajoute un espace au-dessus
    text-align: center; // S'assure que le texte des enfants est centré
}

.button {
    display: inline-block;
    padding: 0.5rem 2rem;
    background-color: $primary;
    color: $white;
    font-family: $roboto;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    letter-spacing: 5px;
    line-height: 22px;
    max-width: 300px; // Limite la largeur si le texte est long
    margin: 0 auto; // Centre avec `auto` si nécessaire
}

.button:hover {
    background-color: $buttonHover;
    transform: scale(1.1);
}

.top-bar {
    background-color: $grey;
    color: $white;
    font-family: $roboto;
    padding: 0.5rem 1rem;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;

        .top-bar__socials {
            display: flex;
            gap: 3rem;

            a {
                color: $white;
                font-size: 1.5rem;
                transition: color 0.3s;

                &:hover {
                    color: $primary;
                }
            }
        }
    }
}



header {
    position: relative;
    z-index: 1000;
    width: 100%;
    transition: all 0.3s ease;

    &.sticky {
        position: fixed;
        top: 0;
        background-color: $white; // Couleur de fond au scroll
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        //color: $white;

        .container-menu {
            .menu-item {
                a {
                    color: $black;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }

        .logo-menu .img-logo {
            max-width: 50% !important; // Optionnel : réduit le logo au scroll
        }
    }

    .container-menu {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 1rem;

        .logo-menu {
            display: flex;
            justify-content: center;

            a {
                display: flex;
                justify-content: center;
            .img-logo {
                height: auto;
                max-width: 75%;
            }
        }
        }

        .toggle-menu {
            text-align: center;
            cursor: pointer;

            .svg-container {
                display: inline-block;
                position: relative;
                width: 1.4rem;
                height: 1.4rem;
                vertical-align: middle;
                text-align: center;

                .burger-menu {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    cursor: pointer;
                }
            }
        }

        .menu {
            display: none;
            width: 100%;
            text-align: center;
            margin-top: 2rem;
        }

        .menu.active {
            display: block;
        }

        .menu-item {
            padding: 1rem;
            border-bottom: 1px solid #ddd;
            font-size: 1.2rem;
            cursor: pointer;
            font-family: $roboto;

            a {
                color: $black;
                text-decoration: none;

                &:hover {
                    color: $primary;
                }
            }
        }
    }
}



.hero {
    position: relative;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    //height: 48vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 35vh;


    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.50);
        z-index: 1;
    }


    .hero-part {
        color: $white;
        font-family: $cinzel;
        line-height: 25px;
        z-index: 2;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        font-weight: 500;
        padding: 0.5rem 1.5rem;

        &.title {
            font-size: 20px;
            letter-spacing: 5px;
        }

        &.content {
            font-size: 14px;
            letter-spacing: 3px;
            margin-bottom: 1rem;
        }
    }

}

.intro {
    //height: 56vh;
    height: auto;
    padding: 2rem 1.5rem;
    font-family: $roboto;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239d1f11' fill-opacity='0.04'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: auto;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding-bottom: 2rem;
    scroll-margin-top: 480px;

    p {
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        letter-spacing: 2px;

        strong {
            color: $primary;
            font-weight: 400;
        }
    }

    .events {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        align-items: center;

        .event-img {
            margin-bottom: 1rem;
        }

        h3 {
            text-align: center;
        }
    }

    .second-row {
        .part-presentation {
            display: flex;
            align-items: center;

            &.reverse {
                flex-direction: column-reverse;
            }

            &.column {
                flex-direction: column;
            }

            img {
                width: 18rem;
            }
        }
    }

    .video-container {
        width: 56%;
        max-width: 800px;
        margin: auto;
        overflow: hidden;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border-radius: 10px;
    }

    .video-container:hover {
        transform: scale(1.05);
        box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.25);
    }

    video {
        width: 100%;
        height: auto;
        border: 5px solid #be1622;
        /* Couleur principale de ton site */
        border-radius: 15px;
        /* Angles arrondis */
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        /* Effet d’ombre */
    }
}


.prestations {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    font-family: $roboto;
    background-color: $grey;
    scroll-margin-top: 450px;

    h3 {
        color: lighten($white, 50%);
        margin: 2rem 0;
        font-size: 21px;
        display: flex;
        align-items: center;

        i {
            font-size: 1.2rem;
            margin-right: 0.5rem;
            color: $white;
        }
    }

    .prestations-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        color: #ffffffa6;
        align-items: center;

        .prestation {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background: #ffffff12;
            padding: 0.5rem;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 24rem;
            height: 364px;

            .prestation-img {
                width: 368px;
                max-width: 600px;
                height: 180px;
                border-radius: 8px;
                object-fit: cover;
            }

            .prestation-description {
                margin-top: 1rem;
                letter-spacing: 1px;

                h4 {
                    font-size: 20px;
                    font-weight: bold;
                    text-decoration: underline $primary 6px;
                    margin-bottom: 0.4rem;
                    text-transform: uppercase;
                }

                p {
                    font-size: 15px;
                    padding: 0.5rem;
                    line-height: 24px;
                    letter-spacing: 4px;
                }
            }
        }

    }

}

.wrap-actu-accueil {
    padding: 40px 0;
    background-color: $white;
    text-align: center;
    font-family: $roboto;
    scroll-margin-top: 480px;

    .owl-carousel {
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background: #fff;
            box-shadow: 0px 4px 15px rgba(104, 104, 104, 0.2);
            border-radius: 8px;
            margin: 10px auto;
            overflow: hidden;
            width: 90%;
            max-width: 400px;

            .media-actu-accueil {
                width: 100%;
                height: 180px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .text-actu-accueil {
                padding: 15px;
                text-align: left;
                height: 160px;
                overflow: hidden;

                h3 {
                    font-size: 20px;
                    font-weight: bold;
                    color: $primary;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 15px;
                    line-height: 1.4;
                    color: #212121;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .owl-dots {
        margin-top: 20px;

        .owl-dot {
            width: 10px;
            height: 10px;
            background: #ddd;
            border-radius: 50%;
            margin: 0 5px;

            /* Cacher le span à l'intérieur des dots */
            //         span {
            //             display: none;
            //         }

            &.active {
                background: #be1622;
            }
        }
    }

    .btn-voir-plus {
        display: inline-block;
        margin-top: 20px;
        background-color: #be1622;
        color: #fff;
        padding: 10px 20px;
        text-transform: uppercase;
        border-radius: 5px;

        &:hover {
            background-color: #7f0f17;
            text-decoration: none;
        }
    }

    //@media (min-width: 768px) {
    //    .owl-carousel .item {
    //        width: 45%;
    //    }
    //}

    @media (min-width: 1024px) {
        .owl-carousel .item {
            width: 30%;
        }
    }
}


.actus {
    display: none;
    background: $white;
    min-height: 100vh;
    //display: flex;
    flex-direction: column;
    justify-content: center;

    .actu-container {
        display: flex;
        justify-content: center;

        article {
            text-align: center;

            .actu-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 16px;
                margin: 1.5rem;
                overflow: hidden;
                box-shadow: 0px 4px 15px rgba(104, 104, 104, 0.2);
                max-height: 22rem;

                .img-box {
                    //width: 26rem;

                    img {
                        width: 23rem
                    }
                }

                .actu-description {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
                }
            }
        }
    }
}


.gallery-preview {
    text-align: center;
    padding: 2rem 0;
    background-color: $grey;
    scroll-margin-top: 500px;

    .gallery-grid {
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;

        .gallery-item {
            width: 7rem;
            height: 7rem;
            overflow: hidden;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 1rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    a[data-lightbox="gallery"] {
        text-decoration: none;
    }
}


.reviews {
    background-color: #f9f9f9;
    padding: 2rem 1rem;
    height: auto;
    scroll-margin-top: 450px;

    //&__title {
    //  text-align: center;
    //  font-size: 1.5rem;
    //  font-weight: bold;
    //  margin-bottom: 1.5rem;
    //  color: #333;
    //}

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .review {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        flex: 1 1 calc(100% - 1rem);

        &__header {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;

            &__avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 0.75rem;
                object-fit: cover;
                border: 2px solid #ddd;
            }

            &__info {
                .review__name {
                    font-size: 1rem;
                    font-weight: bold;
                    color: #555;
                }

                .review__date {
                    font-size: 0.875rem;
                    color: #aaa;
                }
            }
        }

        &__rating {
            font-size: 1rem;
            color: #f39c12; // Couleur étoile dorée
            margin-bottom: 0.75rem;
        }

        &__text {
            font-size: 0.9375rem;
            color: #666;
            line-height: 1.6;
        }
    }
}

.contact-section {
    position: relative;
    background: url('assets/images/IMG-20241114-WA0052.jpg') no-repeat center center / cover;
    //height: 38vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;

    .contact-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #820000;
        opacity: 0.8;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        /* L'overlay est en arrière-plan */
    }

    .contact-content {
        position: relative;
        z-index: 2;
        /* Le texte est au-dessus de l'overlay */
        text-align: center;
        color: #fff;
        padding: 1rem;
        font-size: 16px;

        .contact-title {
            color: $white;

            &::before {
                background: $white;
                width: 30px;
                left: -6px;
            }

            &::after {
                background: $white;
                width: 30px;
                left: 6px;
            }
        }

        .contact-text {
            //font-size: 1rem;
            line-height: 1.6;
            margin-bottom: 1.5rem;
        }

        .contact-info {
            //font-size: 1rem;
            margin-bottom: 1.5rem;

            a {
                color: #fff;
                text-decoration: underline;
                transition: color 0.3s;

                &:hover {
                    color: lighten(#fff, 20%);
                }
            }
        }
    }

    .button {
        position: relative;
        /* Change de `absolute` à `relative` */
        z-index: 3;
        /* Défini un niveau supérieur au texte et à l'overlay */
        background-color: $white;
        color: #820000;

        &:hover {
            background-color: $buttonHover;
            transform: scale(1.05);
            color: $white;
        }
    }

    &:hover .contact-overlay {
        opacity: 0.8;
        /* Augmente l'opacité au survol */
    }
}

.footer {
    background-color: $grey;
    color: $white;
    padding: 0 0 1rem 0;
    text-align: center;
    font-family: $roboto;
    min-height: 42vh;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    &__logo {
        width: 100%;
        background-color: #ffffffd1;

        img {
            max-width: 178px;
            height: auto;
        }
    }

    &__info {
        text-align: center;

        &-item {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin: 0.5rem 0;

            i {
                font-size: 16px;
                color: $primary;
            }

            a {
                color: $white;
                text-decoration: none;

                &:hover {
                    color: lighten($white, 20%);
                }
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 1.5rem;

        a {
            margin: 0.5rem;
            color: $white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                color: $primary;
            }
        }
    }

    &__socials {
        display: flex;
        gap: 1rem;
        justify-content: center;
        padding: 0.5rem;

        a {
            color: $white;
            font-size: 1.5rem;
            transition: color 0.3s;

            &:hover {
                color: $primary;
            }
        }
    }

    &__legal {
        font-size: 12px;

        p {
            margin: 0.5rem;
        }

        nav a {
            color: $white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                color: $primary;
            }
        }

        a {
            text-decoration: none;
            color: $primary;
        }
    }
}


/*-----------------------------------------------
    Page prestations
-------------------------------------------------*/

    .prestations-page {
        padding: 2rem;
        background-color: $grey;

        .prestations-title {
            text-align: center;
            font-size: 2rem;
            color: $primary;
            margin-bottom: 1.5rem;
        }

        .prestations-tabs {
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin-bottom: 2rem;

            .prestations-subtitle {
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: bold;
                padding: 0.5rem 1rem;
                border-bottom: 3px solid transparent;
                transition: all 0.3s;

                &:hover {
                    color: darken($primary, 10%);
                }

                &::after {
                    content: ' ▼';
                    font-size: 1rem;
                    color: lighten($primary, 20%);
                    transition: transform 0.3s, color 0.3s;
                }

                &:hover::after {
                    transform: translateY(-2px);
                    color: $primary;
                }

                &.active {
                    color: $primary;
                    border-color: $primary;

                    &::after {
                        content: ' ▲';
                        color: darken($primary, 10%);
                    }
                }
            }
        }

        .prestations-content {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;

            .prestation {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                background: #ffffff12;
                padding: 1rem;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                width: 300px;

                .prestation-img {
                    width: 100%;
                    height: 180px;
                    border-radius: 8px;
                    object-fit: cover;
                    margin-bottom: 1rem;
                }

                .prestation-description {
                    h4 {
                        font-size: 1.2rem;
                        font-weight: bold;
                        margin-bottom: 0.5rem;
                    }

                    p {
                        font-size: 0.9rem;
                        line-height: 1.4;
                    }
                }
            }
        }
    }


/*-----------------------------------------------
    Page contact
-------------------------------------------------*/

.contact-details {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;

    h2 {
        color: #be1622;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        line-height: 1.6;
    }
}

.google-map {
    margin-top: 20px;
    iframe {
        width: 100%;
        height: 400px;
        border: none;
    }
}

.wpcf7-form {
    display: grid;
    gap: 15px;

    input, textarea, select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    input[type="submit"] {
        background: #be1622;
        color: white;
        font-weight: bold;
        cursor: pointer;
        border: none;

        &:hover {
            background: #7f0f17;
        }
    }
}


/* ----------------------------------------------
  Styles pour les tablettes (min-width: 768px)
---------------------------------------------- */

@media (min-width: 768px) {

    h2 {
        font-size: 38px;

        &::before {
            width: 48px;
            //left: -7px;
        }

        &::after {
            width: 48px;
            //left: 7px;
        }
    }

    .button {
        font-size: 16px;
        max-width: 350px;
        line-height: 28px;
    }

    header {
        .container-menu {
            .logo-menu {
                .img-logo {
                    max-width: 45%;
                }
            }

        }
    }

    .hero {
        height: 40vh;

        .hero-part {

            /* Titre */
            &.title {
                font-size: 35px;
                margin-bottom: 1rem;
            }

            /* Contenu */
            &.content {
                font-size: 28px;
            }
        }

    }

    .intro {
        padding: 2rem;

        p {
            font-size: 20px;
        }

        .events {
            flex-direction: row;
            justify-content: space-evenly;
            margin: 2rem 0;
        }

        .video-container {
            width: 43%;
            margin: auto;
        }

        .second-row {
            .part-presentation {
                img {
                    width: 24rem;
                }
            }
        }
    }

    .prestations {
        h3 {
            font-size: 26px;
        }

        .prestations-list {
            width: 82%;

            .prestation {
                padding: 1.8rem;
                width: 34rem;
                height: 455px;

                .prestation-img {
                    width: 486px;
                    height: 240px;
                }

                .prestation-description {

                    h4 {
                        font-size: 22px;
                    }

                    p {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .wrap-actu-accueil {
        .owl-carousel {
            .item {
                .text-actu-accueil {
                    height: 200px;

                    p {
                        font-size: 17px;
                    }
                }
            }
        }
    }

    //.wrap-actu-accueil {
    //    .owl-carousel {
    //        .item {
    //            width: ;
    //        }
    //    }
    //}

    .gallery-preview {
        .gallery-grid {
            gap: 32px;

            .gallery-item {
                width: 180px;
                height: 180px;
            }
        }
    }

    .contact-section {
        height: 35vh;

        .contact-overlay {

            .contact-content {
                font-family: $roboto;
                font-size: 21px;


                .contact-title {
                    &::before {
                        width: 28px;
                        left: -5px;
                    }

                    &::after {
                        width: 28px;
                        left: 5px;
                    }
                }
            }
        }
    }

    .footer {

        &__container {
            align-items: normal;
        }

        &__logo {
            img {
                max-width: 230px;
            }
        }

        &__main-info {
            font-size: 20px;
            padding: 1rem 2rem;
        }

        &__info {
            i {
                font-size: 28px;
            }
        }

        &__socials {
            padding: 1rem 0;

            a {
                font-size: 2rem;
            }
        }

        &__links {
            font-size: 21px;
            flex-direction: row;
            justify-content: center;
        }

        &__legal {
            font-size: 17px;
        }

    }
}




/* ----------------------------------------------
  Styles pour les ordinateurs de bureau (min-width: 1024px)
---------------------------------------------- */

@media (min-width: 1024px) {
    header {

        &.sticky {
            .container-menu {
                flex-direction: row;
                //margin-top: 2rem;
            }
            .logo-menu {
                width: 30%;

                a {

                .img-logo {
                    max-width: 50% !important;
                }
            }
            }

            .menu {
                display: flex;
                margin-bottom: 0 !important;
            }
        }
        .container-menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin-bottom: 0;

            .logo-menu {
                display: flex;
                justify-content: center;

                .img-logo {
                    max-width: 18% !important ;

                }
            }


            .toggle-menu {
                display: none;
            }

            .menu {
                margin-top: 0;
                display: block;
                margin-bottom: 2rem;
            }

            .menu-item {
                display: inline-block;
                margin-left: 2rem;
                cursor: pointer;
                border-bottom: none;
                position: relative;
                padding-bottom: 5px;

                &:hover {
                    color: $primary;

                }

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    width: 0;
                    height: 2px;
                    background-color: $primary;
                    transition: all 0.3s ease;
                    //color: $primary;
                }

                &::before {
                    left: 0;
                }

                &::after {
                    right: 0;
                }

                &:hover::before,
                &:hover::after {
                    width: 100%;
                }
            }
        }

    }

    .hero {
        height: 60vh;

        .hero-part {

            &.title {
                font-size: 46px;
                margin-bottom: 2.5rem;
            }

            &.content {
                font-size: 34px;
            }
        }

        .hero-cta {
            margin-top: 3rem;

            .button {
                font-size: 14px;

            }
        }
    }

    .intro {
        padding: 2rem 0 3rem 0;

        p {
            line-height: 38px;
            letter-spacing: 4px;
        }

        .first-row {
            display: flex;
            margin-top: 3rem;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 2rem;

            .intro-text {
                width: 50%;
            }

            .events {
                align-items: center;

                .event-img {
                    padding: 0 3rem;
                }
            }
        }

        .second-row {
            .part-presentation {
                padding: 0 4rem;
                height: 268px;

                &.reverse {
                    flex-direction: row;
                }

                &.column {
                    flex-direction: row;
                }


                img {
                    width: 22rem;
                }
            }
        }

        .video-container {
            width: 16%;
            margin: auto;
        }
    }

    .prestations {
        .prestations-list {
            .prestation {
                width: 85rem;
                height: 357px;
                flex-direction: row;
                text-align: left;

               .prestation-img {
                    padding-right: 4rem;
                    width: 606px;
                    height: 302px;
                    max-width: 467px;
                }
            }
        }
    }

    .wrap-actu-accueil {
        .owl-carousel {
            .item {
                width: 65%;
            }
        }
    }

    .footer {
        &__info {
            display: flex;
            justify-content: space-evenly;
        }
    }
}