@import "_reset";
@import "_colors";
@import "_font";


/* ----------------------------------------------
  Styles généraux pour mobile (mobile-first)
---------------------------------------------- */

/*header*/

//header {
//
//    .container-menu {
//        margin-bottom: 2rem;
//
//        .logo-menu {
//            display: flex;
//            justify-content: center;
//
//            .img-logo {
//                height: auto;
//                max-width: 70%;
//            }
//        }
//
//        .toggle-menu {
//            text-align: center;
//
//            .svg-container {
//                display: inline-block;
//                position: relative;
//                width: 1.4rem;
//                height: 1.4rem;
//                vertical-align: middle;
//                text-align: center;
//
//
//                .burger-menu {
//                    position: absolute;
//                    top: 0;
//                    left: 0;
//                    bottom: 0;
//                    right: 0;
//                }
//            }
//        }
//    }
//
//}

h2 {
    font-size: 28px;
    color: $primary;
    text-align: center;
    margin-bottom: 1rem;

    &::before {
        position: relative;
        z-index: 1;
        content: "";
        display: inline-block;
        width: 46px;
        height: 5px;
        background: $primary;
        bottom: 4px;
        left: -7px;
    }

    &::after {
        position: relative;
        z-index: 1;
        content: "";
        display: inline-block;
        width: 46px;
        height: 5px;
        background: $primary;
        bottom: 4px;
        left: 7px;
    }
}

header {
    .container-menu {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        /* Empile le logo et le menu */
        align-items: center;
        /* Centre tout le contenu (logo + menu) */
        padding: 1rem;

        .logo-menu {
            display: flex;
            justify-content: center;
            /* Centre le logo */

            .img-logo {
                height: auto;
                max-width: 75%;
                /* Ajuster la taille du logo pour mobile */
            }
        }

        .toggle-menu {
            text-align: center;
            cursor: pointer;
            /* Pour changer le curseur au survol */

            .svg-container {
                display: inline-block;
                position: relative;
                width: 1.4rem;
                height: 1.4rem;
                vertical-align: middle;
                text-align: center;

                .burger-menu {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    cursor: pointer;
                    /* Ajouter un curseur pointer pour l'icône burger */
                }
            }
        }

        .menu {
            display: none;
            /* Cache le menu par défaut */
            width: 100%;
            text-align: center;
            margin-top: 2rem;
        }

        .menu.active {
            display: block;
            /* Afficher le menu quand il est actif */
        }

        .menu-item {
            padding: 1rem;
            border-bottom: 1px solid #ddd;
            font-size: 1.2rem;
            cursor: pointer;
            font-family: $roboto;
            /* Ajouter un effet de survol */
        }
    }
}



.hero {
    position: relative;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 48vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.50);
        z-index: 1;
    }


    .hero-part {
        color: $white;
        font-family: $cinzel;
        line-height: 25px;
        z-index: 2;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        font-weight: 500;
        padding: 0.5rem 1.5rem;


        /* Titre */
        &.title {
            font-size: 20px;
            letter-spacing: 5px;

        }

        /* Contenu */
        &.content {
            font-size: 14px;
            letter-spacing: 3px;
        }
    }

    .hero-cta {
        z-index: 3;
        position: relative;
        margin-top: 2rem;
    }

    .button {
        display: inline-block;
        padding: 0.5rem 1.5rem;
        background-color: $primary;
        color: $white;
        font-family: $roboto;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 50px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease, transform 0.3s ease;
        text-align: center;
        letter-spacing: 5px;
    }

    .button:hover {
        background-color: $buttonHover;
        transform: scale(1.1);
    }

}

.intro {
    //height: 56vh;
    height: auto;
    padding: 2rem 1rem 0;
    font-family: $roboto;

    p {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 1px;
        //text-align: center;

        span {
            color: $primary;
            font-weight: 400;

        }
    }

    .events {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        align-items: center;

        .event-img {
            margin-bottom: 1rem;
        }

        h3 {
            text-align: center;
        }
    }

    .video-container {
        width: 80%;
        max-width: 800px;
        margin: 20px auto;
        //border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15); /* Ombre légère au départ */
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition pour l'effet de hover */
    }
    
    .video-container:hover {
        transform: scale(1.05); /* Zoom léger sur la vidéo */
        box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.25); /* Ombre plus forte */
    }
    
    video {
        width: 100%;
        height: auto;
    }
}

.prestations {
    height: 70vh;
    padding: 2rem 1rem;
    font-family: $roboto;
    background-color: $grey ;

    //h2 {
      //color : rgb(229 229 229 / 77%);

      //&::before, &::after {
        //background: rgb(229 229 229 / 77%);;
      //}
    //}
}



.prestations {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-color: $grey;
    gap: 3rem; // Augmenter l'espacement entre les éléments dans la section
}


/* ----------------------------------------------
  Styles pour les tablettes (min-width: 768px)
---------------------------------------------- */

@media (min-width: 768px) {

    header {
        .container-menu {
            .logo-menu {
                .img-logo {
                    max-width: 50%;
                }
            }

        }
    }

    .hero {
        height: 40vh;

        .hero-part {

            /* Titre */
            &.title {
                font-size: 30px;

            }

            /* Contenu */
            &.content {
                font-size: 22px;
            }
        }

        .button {
            font-size: 18px;
        }
    }
}


/* ----------------------------------------------
  Styles pour les ordinateurs de bureau (min-width: 1024px)
---------------------------------------------- */

@media (min-width: 1024px) {
    header {
        .container-menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin-bottom: 0;

            .logo-menu {
                display: flex;
                justify-content: center;

                .img-logo {
                    max-width: 18%;

                }
            }


            .toggle-menu {
                display: none;
            }

            .menu {
                margin-top: 0;
                display: block;
                margin-bottom: 2rem;
            }

            .menu-item {
                display: inline-block;
                margin-left: 2rem;
                cursor: pointer;
                border-bottom: none;
                position: relative;
                padding-bottom: 5px;

                &:hover {
                    color: $primary;

                }

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    /* Ajuste la position sous l'élément */
                    width: 0;
                    height: 2px;
                    background-color: $primary;
                    /* Couleur des lignes */
                    transition: all 0.3s ease;
                    /* Animation pour le slide */
                    color: $primary;
                }

                /* Première ligne, à gauche */
                &::before {
                    left: 0;
                }

                /* Deuxième ligne, à droite */
                &::after {
                    right: 0;
                }

                /* Effet au hover - les lignes se "déploient" */
                &:hover::before,
                &:hover::after {
                    width: 100%;
                    /* Les lignes s'étendent complètement */
                }
            }
        }

    }

    .hero {
        height: 70vh;

        .hero-cta {
            margin-top: 3rem;

            .button {
                font-size: 14px;

            }
        }
    }
}