@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------------------------------------------
  Styles généraux pour mobile (mobile-first)
---------------------------------------------- */
#back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 50px;
  height: 50px;
  background-color: #B31413;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 30;
}
#back-to-top:hover {
  background-color: #850f0e;
  cursor: pointer;
}
#back-to-top i {
  font-size: 20px;
}
#back-to-top.visible {
  opacity: 1;
  visibility: visible;
}

.toggle-menu {
  position: relative;
  width: 54px;
  height: 54px;
  background-color: #B31413;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.5s;
}
.toggle-menu .icon-span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 2px;
  background-color: #fff;
  transition: background-color 0.5s, transform 0.5s;
}
.toggle-menu .icon-span::before, .toggle-menu .icon-span::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 2px;
  background-color: #fff;
  transition: transform 0.5s;
  top: 0;
  left: 0;
}
.toggle-menu .icon-span::before {
  transform: translateY(-8px);
}
.toggle-menu .icon-span::after {
  transform: translateY(8px);
}
.toggle-menu svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  fill: transparent;
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  transition: stroke-dashoffset 0.5s ease;
}
.toggle-menu.is-opened {
  transform: rotate(180deg);
}
.toggle-menu.is-opened .icon-span {
  background-color: transparent;
}
.toggle-menu.is-opened .icon-span::before {
  transform: translateY(0) rotate(45deg);
}
.toggle-menu.is-opened .icon-span::after {
  transform: translateY(0) rotate(-45deg);
}
.toggle-menu.is-opened svg {
  stroke-dashoffset: 0;
}

h2 {
  font-size: 25px;
  color: #B31413;
  text-align: center;
  font-family: "Roboto Slab", serif;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (max-width: 320px) {
  h2 {
    font-size: 19px;
  }
}
h2::before {
  position: relative;
  z-index: 1;
  content: "";
  display: inline-block;
  width: 46px;
  height: 5px;
  background: #B31413;
  bottom: 4px;
  left: -7px;
}
h2::after {
  position: relative;
  z-index: 1;
  content: "";
  display: inline-block;
  width: 46px;
  height: 5px;
  background: #B31413;
  bottom: 4px;
  left: 7px;
}

.cta {
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 0.5rem 2rem;
  background-color: #B31413;
  color: #ffffff;
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center;
  letter-spacing: 5px;
  line-height: 22px;
  max-width: 300px;
  margin: 0 auto;
}

.button:hover {
  background-color: #560505;
  transform: scale(1.1);
}

.top-bar {
  background-color: #2b3031;
  color: #ffffff;
  font-family: "Roboto Slab", serif;
  padding: 0.5rem 1rem;
}
.top-bar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.top-bar__container .top-bar__socials {
  display: flex;
  gap: 3rem;
}
.top-bar__container .top-bar__socials a {
  color: #ffffff;
  font-size: 1.5rem;
  transition: color 0.3s;
}
.top-bar__container .top-bar__socials a:hover {
  color: #B31413;
}

header {
  position: relative;
  z-index: 1000;
  width: 100%;
  transition: all 0.3s ease;
}
header.sticky {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
header.sticky .container-menu .menu-item a {
  color: #000000;
}
header.sticky .container-menu .menu-item a:hover {
  color: #B31413;
}
header.sticky .container-menu .menu-item.reviews {
  display: none;
}
header.sticky .logo-menu .img-logo {
  max-width: 50% !important;
}
header .container-menu {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
}
header .container-menu .logo-menu {
  display: flex;
  justify-content: center;
}
header .container-menu .logo-menu a {
  display: flex;
  justify-content: center;
}
header .container-menu .logo-menu a .img-logo {
  height: auto;
  max-width: 75%;
}
header .container-menu .toggle-menu {
  cursor: pointer;
  text-align: center;
}
header .container-menu .toggle-menu .svg-container {
  width: 30px;
  height: 30px;
  position: relative;
}
header .container-menu .toggle-menu .svg-container .line {
  fill: black;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform-origin: center;
}
header .container-menu .toggle-menu .svg-container .top {
  transform: translateY(0);
}
header .container-menu .toggle-menu .svg-container .middle {
  opacity: 1;
}
header .container-menu .toggle-menu .svg-container .bottom {
  transform: translateY(0);
}
header .container-menu .toggle-menu.active .svg-container .top {
  transform: rotate(45deg) translate(6px, 6px);
}
header .container-menu .toggle-menu.active .svg-container .middle {
  opacity: 0;
}
header .container-menu .toggle-menu.active .svg-container .bottom {
  transform: rotate(-45deg) translate(6px, -6px);
}
header .container-menu .menu {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}
header .container-menu .menu.active {
  display: block;
}
header .container-menu .menu-item {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
}
header .container-menu .menu-item a {
  color: #000000;
  text-decoration: none;
}
header .container-menu .menu-item a:hover {
  color: #B31413;
}

.hero {
  position: relative;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 35vh;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.hero .hero-part {
  color: #ffffff;
  font-family: "Cinzel", serif;
  line-height: 25px;
  z-index: 2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-weight: 500;
  padding: 0.5rem;
}
.hero .hero-part.title {
  font-size: 21px;
  letter-spacing: 5px;
}
.hero .hero-part.content {
  font-size: 16px;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.intro {
  height: auto;
  padding: 2rem 1.5rem;
  font-family: "Roboto Slab", serif;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239d1f11' fill-opacity='0.04'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: auto;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding-bottom: 2rem;
  scroll-margin-top: 480px;
}
.intro p {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2px;
}
.intro p strong {
  color: #B31413;
  font-weight: 400;
}
.intro .events {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  align-items: center;
}
.intro .events .event-img {
  margin-bottom: 1rem;
}
.intro .events h3 {
  text-align: center;
}
.intro .second-row .part-presentation {
  display: flex;
  align-items: center;
}
.intro .second-row .part-presentation.reverse {
  flex-direction: column-reverse;
}
.intro .second-row .part-presentation.column {
  flex-direction: column;
}
.intro .second-row .part-presentation img {
  width: 18rem;
}
.intro .video-container {
  width: 56%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}
.intro .video-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.25);
}
.intro video {
  width: 100%;
  height: auto;
  border: 5px solid #B31413;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.prestations {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  font-family: "Roboto Slab", serif;
  background-color: #2b3031;
  scroll-margin-top: 450px;
}
.prestations h3 {
  color: white;
  margin: 1.5rem 0;
  font-size: 21px;
  display: flex;
  align-items: center;
}
.prestations h3 i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  color: #ffffff;
}
.prestations .prestations-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: rgba(255, 255, 255, 0.6509803922);
  align-items: center;
}
.prestations .prestations-list .prestation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.0705882353);
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 24rem;
  height: 385px;
  max-width: 20rem;
}
.prestations .prestations-list .prestation .prestation-img {
  width: 368px;
  max-width: 600px;
  height: 180px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 302px;
}
.prestations .prestations-list .prestation .prestation-description {
  margin-top: 1rem;
  letter-spacing: 1px;
}
.prestations .prestations-list .prestation .prestation-description h4 {
  font-size: 20px;
  font-weight: bold;
  -webkit-text-decoration: underline #B31413 6px;
          text-decoration: underline #B31413 6px;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}
.prestations .prestations-list .prestation .prestation-description p {
  font-size: 15px;
  padding: 0.5rem 0;
  line-height: 24px;
  letter-spacing: 4px;
}

.wrap-actu-accueil {
  padding: 40px 0;
  background-color: #ffffff;
  text-align: center;
  font-family: "Roboto Slab", serif;
  scroll-margin-top: 480px;
}
.wrap-actu-accueil .owl-carousel .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 4px 15px rgba(104, 104, 104, 0.2);
  border-radius: 8px;
  margin: 10px auto;
  overflow: hidden;
  width: 90%;
  max-width: 400px;
  height: 370px;
}
.wrap-actu-accueil .owl-carousel .item .media-actu-accueil {
  width: 100%;
  height: 180px;
}
.wrap-actu-accueil .owl-carousel .item .media-actu-accueil img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrap-actu-accueil .owl-carousel .item .text-actu-accueil {
  padding: 0.8rem;
  text-align: left;
  height: 160px;
  overflow: hidden;
}
.wrap-actu-accueil .owl-carousel .item .text-actu-accueil h3 {
  font-size: 20px;
  font-weight: bold;
  color: #B31413;
  margin-bottom: 10px;
}
.wrap-actu-accueil .owl-carousel .item .text-actu-accueil p {
  font-size: 15px;
  line-height: 1.4;
  color: #212121;
  display: -webkit-box;
}
.wrap-actu-accueil .owl-dots {
  margin-top: 20px;
}
.wrap-actu-accueil .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background: #ddd;
  border-radius: 50%;
  margin: 0 5px;
}
.wrap-actu-accueil .owl-dots .owl-dot.active {
  background: #be1622;
}
.wrap-actu-accueil .btn-voir-plus {
  display: inline-block;
  margin-top: 20px;
  background-color: #be1622;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 5px;
}
.wrap-actu-accueil .btn-voir-plus:hover {
  background-color: #7f0f17;
  text-decoration: none;
}
@media (min-width: 1024px) {
  .wrap-actu-accueil .owl-carousel .item {
    width: 30%;
  }
}

.actus {
  display: none;
  background: #ffffff;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}
.actus .actu-container {
  display: flex;
  justify-content: center;
}
.actus .actu-container article {
  text-align: center;
}
.actus .actu-container article .actu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  margin: 1.5rem;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(104, 104, 104, 0.2);
  max-height: 22rem;
}
.actus .actu-container article .actu-item .img-box img {
  width: 23rem;
}
.actus .actu-container article .actu-item .actu-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.gallery-preview {
  text-align: center;
  padding: 2rem 0;
  background-color: #2b3031;
  scroll-margin-top: 500px;
}
.gallery-preview .gallery-grid {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.gallery-preview .gallery-grid .gallery-item {
  width: 12rem;
  height: 12rem;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}
.gallery-preview .gallery-grid .gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
.gallery-preview .gallery-grid .gallery-item img:hover {
  transform: scale(1.1);
}
.gallery-preview a[data-lightbox=gallery] {
  text-decoration: none;
}

.reviews {
  background-color: #f9f9f9;
  padding: 2rem 1rem;
  height: auto;
  scroll-margin-top: 450px;
  display: none;
}
.reviews__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.reviews .review {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(100% - 1rem);
}
.reviews .review__header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.reviews .review__header__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.75rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #ddd;
}
.reviews .review__header__info .review__name {
  font-size: 1rem;
  font-weight: bold;
  color: #555;
}
.reviews .review__header__info .review__date {
  font-size: 0.875rem;
  color: #aaa;
}
.reviews .review__rating {
  font-size: 1rem;
  color: #f39c12;
  margin-bottom: 0.75rem;
}
.reviews .review__text {
  font-size: 0.9375rem;
  color: #666;
  line-height: 1.6;
}

.contact-section {
  position: relative;
  background: url("assets/images/IMG-20241114-WA0052.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 55vh;
}
@media (max-width: 320px) {
  .contact-section {
    height: 75vh;
  }
}
.contact-section .contact-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #820000;
  opacity: 0.8;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Slab", serif;
}
.contact-section .contact-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
  padding: 1rem;
  font-size: 16px;
}
.contact-section .contact-content .contact-title {
  color: #ffffff;
}
.contact-section .contact-content .contact-title::before {
  background: #ffffff;
  width: 30px;
  left: -6px;
}
.contact-section .contact-content .contact-title::after {
  background: #ffffff;
  width: 30px;
  left: 6px;
}
.contact-section .contact-content .contact-text {
  line-height: 1.6;
  margin-bottom: 1.5rem;
  letter-spacing: 3px;
}
.contact-section .contact-content .contact-info {
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}
.contact-section .contact-content .contact-info a {
  color: #fff;
  text-decoration: underline;
  transition: color 0.3s;
}
.contact-section .contact-content .contact-info a:hover {
  color: white;
}
.contact-section .button {
  position: relative;
  z-index: 3;
  background-color: #ffffff;
  color: #820000;
}
.contact-section .button:hover {
  background-color: #560505;
  transform: scale(1.05);
  color: #ffffff;
}
.contact-section:hover .contact-overlay {
  opacity: 0.8;
}

.footer {
  background-color: #2b3031;
  color: #ffffff;
  text-align: center;
  font-family: "Roboto Slab", serif;
  min-height: 42vh;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.footer__logo {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8196078431);
}
.footer__logo img {
  max-width: 178px;
  height: auto;
}
.footer__info {
  text-align: center;
}
.footer__info-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}
.footer__info-item i {
  font-size: 16px;
  color: #B31413;
}
.footer__info-item a {
  color: #ffffff;
  text-decoration: none;
}
.footer__info-item a:hover {
  color: white;
}
.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem;
}
.footer__links a {
  margin: 0.5rem;
  color: #ffffff;
  text-decoration: none;
}
.footer__links a:hover {
  text-decoration: underline;
  color: #B31413;
}
.footer__socials {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 0.5rem;
}
.footer__socials a {
  color: #ffffff;
  font-size: 1.5rem;
  transition: color 0.3s;
}
.footer__socials a:hover {
  color: #B31413;
}
.footer__legal {
  font-size: 12px;
}
.footer__legal p {
  margin: 0.5rem;
}
.footer__legal nav a {
  color: #ffffff;
  text-decoration: none;
}
.footer__legal nav a:hover {
  text-decoration: underline;
  color: #B31413;
}
.footer__legal .part-dev a {
  text-decoration: none;
  color: #ffffff;
}
.footer__legal .part-dev a span {
  color: #B31413;
  font-size: 18px;
  line-height: 2.5;
}
.footer__legal .part-dev img {
  width: 5rem;
}

/*-----------------------------------------------
    Page prestations
-------------------------------------------------*/
.prestations-page {
  padding: 2rem 1rem;
  font-family: "Roboto Slab", serif;
}
.prestations-page .prestations-tabs {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.prestations-page .prestations-tabs .prestations-subtitle {
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  color: #000000;
}
.prestations-page .prestations-tabs .prestations-subtitle:hover {
  color: #560505;
}
.prestations-page .prestations-tabs .prestations-subtitle::after {
  content: " ▼";
  font-size: 1rem;
  color: #000000;
  transition: transform 0.3s, color 0.3s;
}
.prestations-page .prestations-tabs .prestations-subtitle:hover::after {
  transform: translateY(-2px);
  color: #000000;
}
.prestations-page .prestations-tabs .prestations-subtitle.active {
  color: #B31413;
  border-color: #B31413;
}
.prestations-page .prestations-tabs .prestations-subtitle.active::after {
  content: " ▲";
  color: #850f0e;
}
.prestations-page .prestations-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 0 8rem;
}
.prestations-page .prestations-content .prestation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.0705882353);
  padding: 1rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(104, 104, 104, 0.2);
  width: 300px;
  height: 370px;
  padding: 0.5em;
}
.prestations-page .prestations-content .prestation .prestation-img {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}
.prestations-page .prestations-content .prestation .prestation-description h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #B31413;
}
.prestations-page .prestations-content .prestation .prestation-description p {
  font-size: 0.9rem;
  line-height: 1.4;
}

/*----------------------------------------------
    Page actualités
-------------------------------------------------*/
.wrap-actualites {
  padding: 2rem;
}
.wrap-actualites .actualites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.wrap-actualites .actualites-container .actualite-item {
  width: 90%;
  max-width: 400px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}
.wrap-actualites .actualites-container .actualite-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.wrap-actualites .actualites-container .actualite-item .img-box {
  width: 100%;
  height: 180px;
}
.wrap-actualites .actualites-container .actualite-item .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrap-actualites .actualites-container .actualite-item .actualite-description {
  padding: 1rem 0.5rem 2rem;
}
.wrap-actualites .actualites-container .actualite-item h3 {
  font-size: 20px;
  color: #B31413;
  margin-bottom: 10px;
}
.wrap-actualites .actualites-container .actualite-item p {
  font-size: 16px;
  color: #555;
  line-height: 1.4;
}

#actualites {
  background-color: #fff;
  font-family: "Roboto Slab", serif;
  text-align: center;
}
#actualites .container {
  width: 90%;
  margin: 0 auto;
}

/*-----------------------------------------------
    Page galerie
-------------------------------------------------*/
.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 20px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  max-height: 260px;
}
.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
  max-height: 260px;
}
.gallery-item:hover img {
  transform: scale(1.05);
}

.gallery-filters {
  display: flex;
  justify-content: center;
  font-family: "Roboto Slab", serif;
}
.gallery-filters .filter-btn {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #333;
  color: #ffffff;
}
.gallery-filters .filter-btn.active {
  background-color: #B31413;
  color: #fff;
}

/*-----------------------------------------------
    Page contact
-------------------------------------------------*/
.contact-page {
  padding: 0.5rem 1rem;
  font-family: "Roboto Slab", serif;
}
.contact-page h3 {
  font-size: 20px;
  -webkit-text-decoration: underline #B31413;
          text-decoration: underline #B31413;
  margin-bottom: 1rem;
}
.contact-page .contact-details {
  background: #f9f9f9;
  padding: 0.5rem;
  border-radius: 8px;
  margin-bottom: 20px;
}
.contact-page .contact-details p {
  font-size: 16px;
  line-height: 1.6;
}
.contact-page .google-map {
  margin-top: 20px;
}
.contact-page .google-map iframe {
  width: 100%;
  height: 400px;
  border: none;
}
.contact-page .wpcf7-form {
  display: grid;
  gap: 15px;
}
.contact-page .wpcf7-form input,
.contact-page .wpcf7-form textarea,
.contact-page .wpcf7-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.contact-page .wpcf7-form input:focus,
.contact-page .wpcf7-form textarea:focus,
.contact-page .wpcf7-form select:focus {
  border-color: #be1622;
  background-color: #fff;
  outline: none;
}
.contact-page .wpcf7-form input::-moz-placeholder, .contact-page .wpcf7-form textarea::-moz-placeholder, .contact-page .wpcf7-form select::-moz-placeholder {
  color: #aaa;
}
.contact-page .wpcf7-form input::placeholder,
.contact-page .wpcf7-form textarea::placeholder,
.contact-page .wpcf7-form select::placeholder {
  color: #aaa;
}
.contact-page .wpcf7-form input[type=submit] {
  background: #B31413;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
.contact-page .wpcf7-form input[type=submit]:hover {
  background: #560505;
}

/* ====================== [ Page confidentialité] ====================== */
.politique-de-confidentialité,
.mentions-legales {
  padding: 1rem 1rem 4rem;
  font-family: "Roboto Slab", serif;
}
.politique-de-confidentialité h1,
.mentions-legales h1 {
  color: #B31413;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 2rem;
  line-height: 27px;
  text-align: center;
}
.politique-de-confidentialité h2,
.mentions-legales h2 {
  text-decoration: underline;
  font-size: 18px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: left;
  line-height: 1.5;
}
.politique-de-confidentialité h2:before,
.politique-de-confidentialité h2:after,
.mentions-legales h2:before,
.mentions-legales h2:after {
  display: none;
}
.politique-de-confidentialité p,
.politique-de-confidentialité li,
.mentions-legales p,
.mentions-legales li {
  line-height: 1.5;
  letter-spacing: 3px;
  font-size: 14px;
}
.politique-de-confidentialité span,
.politique-de-confidentialité strong,
.mentions-legales span,
.mentions-legales strong {
  color: #B31413;
  font-weight: 500;
}
.politique-de-confidentialité span a,
.politique-de-confidentialité strong a,
.mentions-legales span a,
.mentions-legales strong a {
  color: #B31413;
}

/* ----------------------------------------------
  Styles pour les tablettes (min-width: 768px)
---------------------------------------------- */
@media (min-width: 768px) {
  h2 {
    font-size: 38px;
  }
  h2::before {
    width: 48px;
  }
  h2::after {
    width: 48px;
  }
  .button {
    font-size: 16px;
    max-width: 350px;
    line-height: 28px;
  }
  header .container-menu .logo-menu .img-logo {
    max-width: 45%;
  }
  .hero {
    height: 40vh;
  }
  .hero .hero-part.title {
    font-size: 35px;
    margin-bottom: 1rem;
  }
  .hero .hero-part.content {
    font-size: 28px;
  }
  .intro {
    padding: 2rem;
  }
  .intro p {
    font-size: 20px;
  }
  .intro .events {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 0;
  }
  .intro .video-container {
    width: 43%;
    margin: auto;
  }
  .intro .second-row .part-presentation img {
    width: 24rem;
  }
  .prestations h3 {
    font-size: 26px;
  }
  .prestations .prestations-list {
    width: 82%;
  }
  .prestations .prestations-list .prestation {
    width: 34rem;
    height: 455px;
    max-width: 34rem;
  }
  .prestations .prestations-list .prestation .prestation-img {
    width: 520px;
    height: 240px;
    max-width: 520px;
  }
  .prestations .prestations-list .prestation .prestation-description {
    margin: auto;
  }
  .prestations .prestations-list .prestation .prestation-description h4 {
    font-size: 22px;
  }
  .prestations .prestations-list .prestation .prestation-description p {
    font-size: 18px;
  }
  .wrap-actu-accueil .owl-carousel .item {
    height: 430px;
  }
  .wrap-actu-accueil .owl-carousel .item .text-actu-accueil {
    height: 298px;
  }
  .wrap-actu-accueil .owl-carousel .item .text-actu-accueil p {
    font-size: 17px;
  }
  .gallery-preview .gallery-grid {
    gap: 32px;
    padding: 0 5rem;
  }
  .gallery-preview .gallery-grid .gallery-item {
    width: 180px;
    height: 180px;
  }
  .contact-section {
    min-height: 38vh;
  }
  .contact-section .contact-overlay .contact-content {
    font-family: "Roboto Slab", serif;
    font-size: 21px;
  }
  .contact-section .contact-overlay .contact-content .contact-title::before {
    width: 28px;
    left: -5px;
  }
  .contact-section .contact-overlay .contact-content .contact-title::after {
    width: 28px;
    left: 5px;
  }
  .footer__container {
    align-items: normal;
  }
  .footer__logo img {
    max-width: 230px;
  }
  .footer__main-info {
    font-size: 20px;
    padding: 1rem 2rem;
  }
  .footer__info i {
    font-size: 28px;
  }
  .footer__socials {
    padding: 1rem 0;
  }
  .footer__socials a {
    font-size: 2rem;
  }
  .footer__links {
    font-size: 21px;
    flex-direction: row;
    justify-content: center;
  }
  .footer__legal {
    font-size: 17px;
  }
}
/*-----------------------------------------------
    Page prestations
-------------------------------------------------*/
.prestations-page .prestations-tabs .prestations-subtitle {
  font-size: 21px;
}
.prestations-page .prestations-content .item .prestation {
  width: 416px;
  height: 365px;
  padding: 1rem;
}
.prestations-page .prestations-content .item .prestation .prestation-description h4 {
  font-size: 24px;
}
.prestations-page .prestations-content .item .prestation .prestation-description p {
  font-size: 18px;
}

/* ----------------------------------------------
  Styles pour les ordinateurs de bureau (min-width: 1024px)
---------------------------------------------- */
@media (min-width: 1024px) {
  header.sticky .container-menu {
    flex-direction: row;
  }
  header.sticky .logo-menu {
    width: 30%;
  }
  header.sticky .logo-menu a .img-logo {
    max-width: 50% !important;
  }
  header.sticky .menu {
    display: flex;
    margin-bottom: 0 !important;
  }
  header .container-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
  }
  header .container-menu .logo-menu {
    display: flex;
    justify-content: center;
  }
  header .container-menu .logo-menu .img-logo {
    max-width: 18% !important;
  }
  header .container-menu .toggle-menu {
    display: none;
  }
  header .container-menu .menu {
    margin-top: 0;
    display: block;
    margin-bottom: 2rem;
  }
  header .container-menu .menu-item {
    display: inline-block;
    cursor: pointer;
    border-bottom: none;
    position: relative;
    padding-bottom: 5px;
  }
  header .container-menu .menu-item:hover {
    color: #B31413;
  }
  header .container-menu .menu-item::before, header .container-menu .menu-item::after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #B31413;
    transition: all 0.3s ease;
  }
  header .container-menu .menu-item::before {
    left: 0;
  }
  header .container-menu .menu-item::after {
    right: 0;
  }
  header .container-menu .menu-item:hover::before, header .container-menu .menu-item:hover::after {
    width: 100%;
  }
  .hero {
    height: 38vh;
    margin-top: 3rem;
  }
  .hero .hero-part.title {
    font-size: 46px;
    margin-bottom: 2.5rem;
  }
  .hero .hero-part.content {
    font-size: 34px;
  }
  .hero .hero-cta {
    margin-top: 3rem;
  }
  .hero .hero-cta .button {
    font-size: 14px;
  }
  .intro p {
    line-height: 38px;
    letter-spacing: 4px;
  }
  .intro .first-row {
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  .intro .first-row .intro-text {
    width: 50%;
  }
  .intro .first-row .events {
    align-items: center;
  }
  .intro .first-row .events .event-img {
    padding: 0 2rem;
  }
  .intro .second-row .part-presentation {
    height: 268px;
    margin-bottom: 1rem;
  }
  .intro .second-row .part-presentation.reverse {
    flex-direction: row;
  }
  .intro .second-row .part-presentation.column {
    flex-direction: row;
  }
  .intro .second-row .part-presentation img {
    width: 22rem;
  }
  .intro .video-container {
    width: 24%;
    margin: 2rem auto 1rem;
  }
  .prestations .prestations-list .prestation {
    width: 82rem;
    height: 16rem;
    flex-direction: row;
    text-align: left;
    padding: 1rem;
    max-width: 60rem;
  }
  .prestations .prestations-list .prestation .prestation-img {
    width: 577px;
    height: 221px;
    max-width: 295px;
  }
  .prestations .prestations-list .prestation .prestation-description {
    padding-left: 3rem;
  }
  .wrap-actu-accueil .owl-carousel .item {
    width: 95%;
    height: 440px;
  }
  .gallery-preview .gallery-grid {
    padding: 0;
  }
  .footer {
    min-height: 25vh;
  }
  .footer__info {
    display: flex;
    justify-content: space-evenly;
  }
  /*----------------------------------------
      Page de contact
  ------------------------------------------*/
  .main-form {
    display: flex;
    justify-content: space-evenly;
  }
  .main-form .contact-details {
    height: 12rem;
    width: 36rem;
  }
  /*----------------------------------------
      Mentions légales
  ------------------------------------------*/
  .politique-de-confidentialité,
  .mentions-legales {
    padding: 1rem 5rem 4rem;
  }
  .politique-de-confidentialité h1,
  .mentions-legales h1 {
    font-size: 24px;
  }
  .politique-de-confidentialité h2,
  .mentions-legales h2 {
    font-size: 20px;
  }
  .politique-de-confidentialité p, .politique-de-confidentialité li,
  .mentions-legales p,
  .mentions-legales li {
    font-size: 16px;
  }
}
/* ----------------------------------------------
  Styles pour les ordinateurs de bureau (min-width: 1274px)
---------------------------------------------- */
@media (min-width: 1274px) {
  header .container-menu .menu-item {
    margin-left: 2rem;
  }
}
@media (min-width: 1025px) {
  .hero {
    height: 65vh;
  }
  .contact-section {
    min-height: 50vh;
  }
}
@media (min-width: 1515px) {
  .intro {
    padding: 2rem 12rem;
  }
}/*# sourceMappingURL=style.css.map */